<div class="container">
  <br>
  <h4 class="title is-4">Locations</h4>
  <!-- input component -->
  <div class="columns">
    <div class="column is-two-fifths">
      <input type="text" ng-model="$ctrl.searchKey" class="input is-small" placeholder="search anything"
        ng-keyup="$ctrl.search()" required>
    </div>
  </div>

  <!-- table  -->
  <div ng-if="$ctrl.loading">
    <h1>Loading please wait.....</h1>
  </div>
  <div>
    <table ng-if="!$ctrl.loading" class="table is-hoverable is-fullwidth table-head-background-color">
      <thead class="has-background-light-grey">
        <tr>
          <th></th>
          <th>Code</th>
          <th>Name</th>
          <th>Plant</th>
          <th>Company Code</th>
          <th>Created Data</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(index,data) in $ctrl.data">
          <td><input type="checkbox" ng-model="isChecked" ng-change="$ctrl.rowSelectionChange(data.id,isChecked)"></td>
          <td> {{data.code}}</td>
          <td>{{data.name}}</td>
          <td>{{data.plant}}</td>
          <td>{{data.companyCode}}</td>
          <td>{{data.createAt}}</td>
          <td>
            <span class="tag {{data.isActive?'is-success':'is-danger'}}">
              {{data.isActive?'Active':'Inactive'}}
            </span>
          </td>
          <td><i class="far fa-trash-alt text-info"></i></td>
        </tr>
        </tr>
      </tbody>
    </table>
    <!-- end of table  -->

    <!-- pagination component -->
    <div class="columns">
      <div class="column">
        1-5 of {{$ctrl.count}}
      </div>
      <div class="column">
        <nav class="pagination is-rounded is-small is-pulled-right" role="navigation" aria-label="pagination">
          <ul class="pagination-list">
            <li ng-repeat="n in $ctrl.pagination" ng-click="$ctrl.changePage(n)">
              <a class="pagination-link {{($ctrl.currentPage==n)?'is-current':''}}" aria-label="1">{{n+1}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- end of pagination  -->

    <div>
      <button class="button is-info is-small {{$ctrl.activateLoading?'is-loading':''}}"
        ng-click="$ctrl.alterStatus(true)">Activate</button>
      <button class="button is-warning is-small {{$ctrl.deactivateLoading?'is-loading':''}}"
        ng-click="$ctrl.alterStatus(false)">Deactivate</button>
      <button class="button is-success is-small">Add Location</button>
    </div>
  </div>
</div>